{% extends "base_generic.html" %}

{% block content %}
  <h1>Author: {{ author.last_name }}, {{ author.first_name }}</h1>

  <p> {{ author.date_of_birth }} {% if author.date_of_death %} - {{ author.date_of_death }} {% endif %} </p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    {% for copy in author.book_set.all %}
      <hr>
      <p><strong>  <a href="{{ copy.get_absolute_url }}">{{ copy.title }} </a>    </strong> </p>
      <p class="text-muted">  {{ copy.summary|truncatewords:30 }} <a href="{{ copy.get_absolute_url }}"> see more </a> </p>
    {% endfor %}
  </div>
{% endblock %}
